{{>/layout/main-header}}

<div class="container">
    <input id="postId" type="hidden" value="1" />
    <input id="pageOwnerId" type="hidden" value="{{pageOwnerId}}" />
    <input id="my-loveId" type="hidden" value="1">


    <div class="my_post_detail_title">
        <h2>{{board.boardTitle}}</h2>
    </div>
    <hr />

    <div class="my_post_detail_content">
        {{{board.boardContent}}}
    </div>
    <div class="my_post_info_box d-flex">
        <div class="my_post_info">

            <i class="fa-solid fa-heart my_fake_like my_mr_sm_1" id="heart-1"
                onclick="postLikeClick('1')"></i>
            by <b>유저네임</b> <span class="my_text_body_sm">날짜</span>

            <i class="far fa-heart my_fake_un_like my_mr_sm_1" id="my-heart"></i>
            by <b>유저네임</b> <span class="my_text_body_sm">날짜</span>


        </div>
    </div>


    <div class="my_mt_md_1">
        <input type="hidden" id="boardId" value="{{boardId}}"/>
        <input type="hidden" id="pageOwnerId" value="{{pageOwnerId}}"/>
        <input type="hidden" id="currentUserId" value="{{currentUserId}}"/>
        <button id="btn-edit" class="btn btn-outline-success">수정</button>
        <button id="btn-delete" class="btn btn-outline-danger">삭제</button>
    </div>

    <br />

    <div class="my_livere">
        <!-- 라이브리 시티 설치 코드 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC81MTM0MC8yNzgyMQ==">
<!--            <script type="text/javascript">-->
<!--                (function (d, s) {-->
<!--                    var j, e = d.getElementsByTagName(s)[0];-->

<!--                    if (typeof LivereTower === 'function') { return; }-->

<!--                    j = d.createElement(s);-->
<!--                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';-->
<!--                    j.async = true;-->

<!--                    e.parentNode.insertBefore(j, e);-->
<!--                })(document, 'script');-->
<!--            </script>-->
            <noscript>라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
        </div>
        <!-- 시티 설치 코드 끝 -->
    </div>
</div>

<!--<script src="/js/post/detail.js"></script>-->
<script>
    document.addEventListener('DOMContentLoaded', function (){
        let boardId = document.getElementById('boardId').value;
        let pageOwnerId = document.getElementById('pageOwnerId').value;
        let currentUserId = document.getElementById('currentUserId').value;

        function handleEditButtonClick(event){
            if (pageOwnerId !== currentUserId){
                event.preventDefault();
                alert('권한이 없습니다');
            }else{
                let boardTitle = document.getElementById('boardTitle').value;
                let boardContent = document.getElementById('boardContent').value;

                fetch(`s/update/${boardId}`,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        boardTitle: boardTitle,
                        boardContent: boardContent
                    })
                })
                        .then(response => {
                            if (response.ok){
                                alert('수정 성공');
                                window.location.reload();
                            }else {
                                alert('수정실패');
                            }
                        })
                        .catch(error => {
                            console.erropr('Error:', error);
                            alert('수정 중 오류발생')
                        });
            }
        }

        let editButton = document.getElementById('btn-edit');
        editButton.addEventListener('click', handleEditButtonClick);
    });


</script>
{{>/layout/footer}}