<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
</head>
<body>
<h1>Response Message: <span th:text="${response.message}"></span></h1>
<h2>Response Data: <span th:text="${response.data}"></span></h2>
</body>
</html>
